[submodule "ImageMetrics"]
	path = modules/ImageMetrics
	url = https://github.com/AlanPXD/ImageMetrics
[submodule "TensorflowUtils"]
	path = modules/TensorflowUtils
	url = https://github.com/AlanPXD/TensorflowUtils
